body {
  font-family: sans-serif;
  margin: 0;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;
  color: white;

  background: url('https://images.unsplash.com/photo-1769576787092-5ffea8649c3b?w=600&auto=format&fit=crop&q=60')
  no-repeat center center/cover;

  position: relative;
  overflow: hidden;
}

/* DARK + BLUR LAYER */
body::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.6);
  backdrop-filter: blur(6px);
  z-index: 0;
}

/* TITLE */
h2 {
  position: relative;
  z-index: 2;
  margin-bottom: 15px;
}

/* GAME GRID FIX */
.game {
  position: relative;
  z-index: 2;

  display: grid;
  grid-template-columns: repeat(4, 80px);
  gap: 10px;

  justify-content: center;
  align-content: center;
}

/* CARD FIX */
.card {
  width: 80px;
  height: 80px;

  background: #1e293b;
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 24px;
  border-radius: 10px;
  cursor: pointer;
}

.card.flipped {
  background: #38bdf8;
  color: black;
}

/* MOBILE */
@media (max-width: 480px) {
  .game {
    grid-template-columns: repeat(4, 65px);
  }

  .card {
    width: 65px;
    height: 65px;
    font-size: 20px;
  }
}
